@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$primaryColor: $ms-color-themePrimary;
$secondaryColor: $ms-color-themeTertiary;
$lightColor: $ms-color-themeLighter;
$darkColor: $ms-color-themeDarker;

$blackTranslucent: rgba(0,0,0,0.6);
$whiteTranslucent: rgba(255,255,255,0.6);