@import '../../styles/variables.module';

.slide {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;

  .headline {
    display: block;
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2rem;
    margin-bottom: 5rem;
    padding: 1.4rem 2rem;
    background-color: $blackTranslucent;
  }

  .category {
    font-size: 0.6rem;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: 300;
    margin-right: 0.4rem;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .description {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .cta {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 0.6rem;
    min-width: 80px;
    border-width: 0;
    padding: 0 16px;
    line-height: 28px;
    float: right;
    cursor: pointer;
    background: $primaryColor;
    color: white;

    &:hover {
      background: #FFFFFF;
      color: #000000;
    }
  }
}
